div#modal-class___BV_modal_body_ {
    margin-left: 20px;
    margin-right: 20px;
}

footer#modal-class___BV_modal_footer_ {
    display: flex;
    justify-content: center;
    button {
        background-color: #fb8c00;
        border: none;
        min-width: 130px;
    }
}
