@import "variables";

@import "layout";

footer#modal-user___BV_modal_footer_ {
    display: flex;
    justify-content: center;
    button {
        background-color: #fb8c00;
        border: none;
        min-width: 130px;
    }
}

footer#modal-course___BV_modal_footer_ {
    display: flex;
    justify-content: center;
    button {
        background-color: #fb8c00;
        border: none;
        min-width: 130px;
    }
}
