button#dropdown-lang__BV_toggle_ {
    background: $root-yellow;
    border: none;
}

button#dropdown-profile__BV_toggle_ {
    background: $root-yellow;
    border: none;
}

.active {
    background: $root-yellow;
    border-radius: 5px;
}
