button#__BVID__24__BV_toggle_ {
    background: $root-yellow;
    border: none;
}

button#__BVID__29__BV_toggle_ {
    background: $root-yellow;
    border: none;
}

.active {
    background: $root-yellow;
    border-radius: 5px;
}
