header#modal-user___BV_modal_header_ {
    button.close {
        &:focus {
            outline: none;
        }
    }
}

footer#modal-user___BV_modal_footer_ {
    display: flex;
    justify-content: center;
    button {
        background-color: #fb8c00;
        border: none;
        min-width: 130px;
    }
}
